asgiref==3.7.2
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.1
flake8==7.0.0
flake8-spellcheck==0.28.0
idna==3.6
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pipdeptree==2.13.2
platformdirs==4.1.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyspellchecker==0.8.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.1.0
