{% extends 'main.html' %}

{% block title %}
Transfer
{% endblock title %}

{% block main %}
<div class="container">
    <form action="{% url 'base:transfer' %}" method="post">
        {% csrf_token %}
        {% comment %} <div class="row justify-content-center mb-3">

            <div class="col">
                <input type="radio" class="btn-check" name="method" id="success-outlined" autocomplete="off"
                    value="Deposit" checked>
                <label class="mx-1 btn btn-outline-success" for="success-outlined">Deposit</label>

                <input type="radio" class="btn-check" name="method" id="danger-outlined" autocomplete="off"
                    value="Withdrawal">
                <label class="mx-1 btn btn-outline-danger" for="danger-outlined">Withdraw</label>

                <input type="radio" class="btn-check" name="method" id="primary-outlined" autocomplete="off"
                    value="Set">
                <label class="mx-1 btn btn-outline-primary" for="primary-outlined">Set</label>
            </div>

        </div>
</div>
<div class="row justify-content-center">
    <div class="form-floating mb-3 fw-207">
        <input autocomplete="off" autofocus class="form-control" id="trfqty" name="value" placeholder="value"
            type="number" step="0.01" required>
        <label for="trfqty">Amount</label>
    </div>
</div> {% endcomment %}
        {{ form }}
<button class="btn btn-primary" type="submit">Transfer!</button>
</form>

</div>
{% endblock main %}